.green-text{
    color: goldenrod;
    font-size: small;
    font-weight: bold;
    h1{
        color: green;
        font: size 70px;
        margin-left: 5%;
    }
    p{
        color: green;
        font: size 50px;
        font-style: normal;
    
    }

}